<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MiniProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <location>/error.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/d56b699830e77ba53855679cb1d252da</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
    <url-pattern>/9de4a97425678c5b1288aa70c1669a64</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
    <url-pattern>/f4c5f37ac762c823056c456d470f73d5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboard</display-name>
    <servlet-name>AdminDashboard</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.AdminDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboard</servlet-name>
    <url-pattern>/AdminDashboard</url-pattern>
    <url-pattern>/09fed77547c060e78d3a667d2fffceca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
    <url-pattern>/c93798b55ff7f793c2098e1c577d27aa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSelfInfo</display-name>
    <servlet-name>ViewSelfInfo</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.ViewSelfInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSelfInfo</servlet-name>
    <url-pattern>/ViewSelfInfo</url-pattern>
    <url-pattern>/97e1a767bfa5f33fbf116c3f80ee7334</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSelfInfo</display-name>
    <servlet-name>EditSelfInfo</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.EditSelfInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSelfInfo</servlet-name>
    <url-pattern>/EditSelfInfo</url-pattern>
    <url-pattern>/749939bff702a796497ea19dc5b232eb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSelfInfoAdmin</display-name>
    <servlet-name>ViewSelfInfoAdmin</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.ViewSelfInfoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSelfInfoAdmin</servlet-name>
    <url-pattern>/ViewSelfInfoAdmin</url-pattern>
    <url-pattern>/2ec3dca8e1a81194fb071dd330492a22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSelfInfoAdmin</display-name>
    <servlet-name>EditSelfInfoAdmin</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.EditSelfInfoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSelfInfoAdmin</servlet-name>
    <url-pattern>/EditSelfInfoAdmin</url-pattern>
    <url-pattern>/d8be84302730ef5d89825aef69d43618</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserList</display-name>
    <servlet-name>ViewUserList</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.ViewUserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserList</servlet-name>
    <url-pattern>/ViewUserList</url-pattern>
    <url-pattern>/5c73f6e9fdbea4754eacff95793589c4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumitEditInfo</display-name>
    <servlet-name>SumitEditInfo</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.SumitEditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumitEditInfo</servlet-name>
    <url-pattern>/SumitEditInfo</url-pattern>
    <url-pattern>/2a855962fb7085847e6d1ba96545692a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookList</display-name>
    <servlet-name>ViewBookList</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.ViewBookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookList</servlet-name>
    <url-pattern>/ViewBookList</url-pattern>
    <url-pattern>/13d541cb4eda5e8336ba430376b6cd9e</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookListAdmin</display-name>
    <servlet-name>ViewBookListAdmin</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.ViewBookListAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookListAdmin</servlet-name>
    <url-pattern>/ViewBookListAdmin</url-pattern>
    <url-pattern>/6ca5734e58f6b665e5879f904f865b15</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBook</display-name>
    <servlet-name>ViewBook</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.ViewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBook</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
    <url-pattern>/c2afe6d7c1571d1be0662147497afce7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookAdmin</display-name>
    <servlet-name>ViewBookAdmin</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.ViewBookAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookAdmin</servlet-name>
    <url-pattern>/ViewBookAdmin</url-pattern>
    <url-pattern>/43a9dd4a7fb3bd15cb9d3aa302f867e1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
    <url-pattern>/3fdb59b0d7ebab342efbfa4c6a887a35</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookInfo</display-name>
    <servlet-name>UpdateBookInfo</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.UpdateBookInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookInfo</servlet-name>
    <url-pattern>/UpdateBookInfo</url-pattern>
    <url-pattern>/2dad20d690fb0f94ea84dd164ab40634</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBook</display-name>
    <servlet-name>EditBook</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.EditBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBook</servlet-name>
    <url-pattern>/EditBook</url-pattern>
    <url-pattern>/fe99e4ee55f6d178da0c41d9a3e7fbe3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBook</display-name>
    <servlet-name>BorrowBook</servlet-name>
    <servlet-class>com.qiren.miniproj.servlet.BorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBook</servlet-name>
    <url-pattern>/BorrowBook</url-pattern>
    <url-pattern>/0343c14996b0caccc4254839d190a8a5</url-pattern>
  </servlet-mapping>
</web-app>